<!DOCTYPE html>

<html>
  <head>
    <title>Metafile</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Libre+Baskerville&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />

    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>Filemeta</h1>
      <h2>A simple file upload and analysis</h2>

      <p>
        Upload a file to receive a <code>JSON</code> object that tells you the filename, the filetype, and the size of
        the file in bytes.
      </p>
      <!-- <h3>Usage:</h3> -->
      <p>Please Upload a File&hellip;</p>
      <div class="view">
        <h4 id="output"></h4>
        <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
          <input id="inputfield" type="file" name="upfile" />
          <input id="button" type="submit" value="Upload" />
        </form>
      </div>
    </div>
    <div class="footer">
      <p>
        by
        <a href="https://www.gerardkeane.xyz">Gerard Keane</a>
      </p>
    </div>
  </body>
</html>
